<div>
  <p>Title: <%= @note.title %></p>
  <p> Tags: 
    <% @note.tags.each do |tag| %>
    <span><%= link_to(tag.name, tag_path(tag)) %></span>
    <% end %>
  </p>
  <p>Note created: <%= @note.created_at %> </p>
  <p>Last updated: <%= @note.updated_at%></p>
  <p>Note: <%= @note.note %></p>
</div>